body{
    margin:0;
    background:linear-gradient(to right,#000033,#000010);
    color:white;
    font-family:'Jua',sans-serif;
}

#topBar{

    height:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    position:relative;

    border-bottom:2px solid #3355ff;

}

#topBar h1{

    margin:0;

    font-size:42px;

    color:white;

}

#homeButton{

    position:absolute;

    left:20px;

    width:170px;

    height:45px;

    border:none;

    border-radius:10px;

    background:#3355ff;

    color:white;

    font-family:'Jua';

    font-size:22px;

    cursor:pointer;

    transition:.2s;

}

#homeButton:hover{

    background:#5577ff;

}

#game{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:40px;

    margin-top:40px;

}

#leftPanel{

    width:260px;

}

#centerPanel{

    width:650px;

}

#rightPanel{

    width:250px;

}

#board{

    width:650px;

    border:5px solid white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 0 25px rgba(255,255,255,.2);

}

.botButton{

    width:100%;

    height:55px;

    margin-bottom:12px;

    background:#111155;

    border:2px solid #3355ff;

    border-radius:10px;

    color:white;

    font-family:'Jua';

    font-size:23px;

    cursor:pointer;

    transition:.2s;

}

.botButton span{

    float:right;

    opacity:.7;

}

.botButton:hover{

    background:#3355ff;

    transform:scale(1.03);

}

#restartButton{

    width:100%;

    height:45px;

    margin-top:30px;

    background:#3355ff;

    border:none;

    border-radius:10px;

    color:white;

    font-family:'Jua';

    font-size:22px;

    cursor:pointer;

}

#restartButton:hover{

    background:#5577ff;

}

#turnText{

    font-size:28px;

}

#statusText{

    font-size:24px;

    opacity:.8;

}

@media(max-width:1400px){

    #game{

        flex-direction:column;

        align-items:center;

    }

    #leftPanel{

        width:650px;

    }

    #rightPanel{

        width:650px;

    }

    #board{

        width:90vw;

    }

}
